@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    width: 100%;
    height: 100vh;
    background-image: url('https://ebac.art.br/upload/medialibrary/2b9/2b90828f0578d7ad2b3456dc885f0bc7.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;/* remove as bordas */
}
form {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
input {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#botao {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
#botao:hover {
    background-color: #45a049;
}


/* Responsividade */

@media screen and (max-widht: 600px) {
    form {
        width: 90%;
        padding: 15px;
    }
    h3 {
        font-size: 20px;
    }
    input {
        height: 25px;
    }
}